 
        .fa {
            color : skyblue;
            }
        .fa:hover{
            color: aliceblue;
        }
        .active a{
            background-color:#0099cc;
            
            
        }
        #player:hover{
           background-color: skyblue;
        }
        .fon{
            font-size:20px;
            font-family:cursive;
        }
.don{
            font-style: oblique;
            
            
        }
.don > a{
    color: #0099cc;    
        }
        
        
        
 .abt:hover {
  -webkit-animation: breathing 60s ease-out infinite normal;
  animation: breathing 60s ease-out infinite normal;
}
        
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(.0);
    transform: scale(0.5);
  }
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
  }
}